* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    margin-top: 3rem;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro {
    text-align: center;
    height: 8em;
}

.intro input{
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    font-size: larger;
    width: 20.5em;
    border-radius: 8px;
}

#welcomeMsg {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    color: tomato;
}

.start-quiz {
    min-width: 20%;
    margin: auto;
    background-color: green;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.question-area {
    border: 1px solid black;
    min-height: 20em;
    min-width: 35em;
    position: relative;
    text-align: center;
    border-radius: 8px;
}

.question-area input {
    width: 15em;
    height: 3em;
    padding: 0.5em;
    text-align: center;
    border-radius: 8px;
}

.checkAns {
    margin: 1em;
    padding: 0.5em;
    font-size: larger;
    /* color: white; */
    font-weight: 800;
}

.question-area .submit {
    position: absolute;
    bottom: 18%;
    left: 20%;
}

.question, .answer {
    padding: 1rem;
    margin: 1rem;
    font-size: larger;
    /* color: white; */
}

.submit, .next {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: aquamarine;
    color: white;
    font-size: larger;
    border-radius: 8px;
}

.question-area .next {
    position: absolute;
    bottom: 18%;
    right: 20%;
}